#root {
  max-width: 80vw;
  margin: 0 auto;
  padding: 2rem;
  /* text-align: center; */
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav {
  display: inline;
}

.display-linebreak {
  white-space: pre;
}

.card {
  background-color: #333;
  border-radius: 15pt;
  padding: 1em;
}

.code {
  color: #fff;
  font-family: 'Courier New', Courier, monospace;
  overflow-x: scroll;
}

.row {
  display: flex;
}

.column {
  flex: 1;
  padding: 5pt;
}

button {
  display: block;
  margin: 0 auto;
}

.title {
  text-align: center;
}

.banner {
  border-radius: 4pt;
  text-align: center;
}

.alert {
  background-color: #4c2f36;
  border: 1pt solid #ff365b;
}

.warning {
  background-color: #68582d;
  border: 1pt solid #dfbd00;
}

.btn {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
