#root {
  max-width: 90%;
  margin: 0 auto;
  padding: 2rem;
  /* text-align: center; */
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav {
  display: inline;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.display-linebreak {
  white-space: pre;
}

.card {
  background-color: #333;
  border-radius: 15pt;
  padding: 1em;
  height: 70%;
}

.code {
  color: #fff;
  font-family: 'Courier New', Courier, monospace;
}

.row {
  display: flex;
}

.column {
  flex: 1;
  padding: 5pt;
}

.comparison button {
  display: block;
  margin: 0 auto;
}
